<div id="root">
  <stream-channel-list></stream-channel-list>
  <div class="str-chat str-chat-channel messaging light">
    <div class="str-chat__container">
      <div class="str-chat__main-panel">
        <stream-channel-header></stream-channel-header>
        <stream-channel></stream-channel>
        <stream-message-input></stream-message-input>
      </div>
    </div>
  </div>
</div>

<!-- To use custom message, add this input to stream-channel: [messageTemplate]="customMessagetemplate"-->
<ng-template #customMessagetemplate let-message="message">
  <app-custom-message [message]="message"></app-custom-message>
</ng-template>
