#root {
  display: flex;
  height: 100%;

  .channel-list {
    width: 100%;
    height: 100%;
  }

  .channel {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .channel-list {
      width: 35%;
      height: 100%;
    }

    .channel {
      width: 65%;
    }
  }
}
