<div id="root">
  <stream-channel-list
    (click)="closeMenu()"
    class="channel-list menu-{{ isMenuOpen ? 'open' : 'close' }} thread-{{
      isThreadOpen ? 'open' : 'close'
    }}"
  ></stream-channel-list>
  <stream-channel class="channel" (click)="closeMenu()">
    <stream-channel-header>
      <button
        class="menu-button"
        (click)="isMenuOpen = !isMenuOpen; $event.stopPropagation()"
      >
        <stream-icon-placeholder icon="menu"></stream-icon-placeholder>
      </button>
    </stream-channel-header>
    <stream-message-list></stream-message-list>
    <stream-notification-list
      *ngIf="themeVersion === '1'"
    ></stream-notification-list>
    <stream-message-input></stream-message-input>
    <stream-thread class="thread" name="thread">
      <stream-message-list
        name="thread-message-list"
        mode="thread"
      ></stream-message-list>
      <stream-message-input
        mode="thread"
        name="thread-message-input"
      ></stream-message-input>
    </stream-thread>
  </stream-channel>
  <stream-notification-list
    *ngIf="themeVersion === '2'"
  ></stream-notification-list>
</div>

<!-- To use custom message, add this input to stream-message-list: [messageTemplate]="customMessagetemplate"-->
<ng-template #customMessagetemplate let-message="message">
  <app-custom-message [message]="message"></app-custom-message>
</ng-template>

<ng-template #emojiPickerTemplate let-emojiInput$="emojiInput$">
  <app-emoji-picker [emojiInput$]="emojiInput$"></app-emoji-picker>
</ng-template>
