# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Generated docs
temp-service-docs
temp-component-docs
docusaurus/docs/Angular/services/*.mdx
docusaurus/docs/Angular/theming/*
docusaurus/docs/Angular/assets/stream-chat-css*

# System Files
.DS_Store
Thumbs.db

# .env
.env

# Angular environment.ts
/**/environments/environment.ts

# Encapsulated stream-chat-css
projects/stream-chat-angular/src/assets/styles
