<div id="root">
  <stream-channel-list></stream-channel-list>
  <stream-channel>
    <stream-channel-header
      style="--white-snow: #e8f5e9"
    ></stream-channel-header>
    <stream-message-list style="--primary-color: #8bc34a"></stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input
      style="--grey-whisper: rgba(165, 214, 167, 0.4); --primary-color: #8bc34a"
    ></stream-message-input>
    <stream-thread name="thread">
      <stream-message-list
        name="thread-message-list"
        mode="thread"
      ></stream-message-list>
      <stream-message-input
        style="
          --grey-whisper: rgba(165, 214, 167, 0.4);
          --primary-color: #8bc34a;
        "
        name="thread-message-input"
        mode="thread"
      ></stream-message-input>
    </stream-thread>
  </stream-channel>
</div>

<ng-template #emojiPickerTemplate let-emojiInput$="emojiInput$">
  <app-emoji-picker [emojiInput$]="emojiInput$"></app-emoji-picker>
</ng-template>

<ng-template #channelPreviewTemplate let-channel="channel">
  <div
    style="
      padding: 10px;
      background-color: #f1f8e9;
      border-radius: var(--border-radius-md);
      margin: 10px;
      cursor: pointer;
    "
    (click)="channelService.setAsActiveChannel(channel)"
    (keyup.enter)="channelService.setAsActiveChannel(channel)"
  >
    {{ channel?.data?.name || channel?.data?.id }}
  </div>
</ng-template>

<ng-template
  #messageTemplate
  let-message="message"
  let-isLastSentMessage="isLastSentMessage"
  let-enabledMessageActions="enabledMessageActions"
  let-mode="mode"
>
  <div>
    <stream-message
      style="
        --grey-whisper: #c8e6c9;
        --white-snow: #f1f8e9;
        --primary-color: #689f38;
      "
      [message]="message"
      [isLastSentMessage]="isLastSentMessage"
      [enabledMessageActions]="enabledMessageActions"
      [mode]="mode"
    ></stream-message>
  </div>
</ng-template>

<ng-template
  #customMessageInputTemplate
  let-message="message"
  let-isFileUploadEnabled="isFileUploadEnabled"
  let-areMentionsEnabled="areMentionsEnabled"
  let-mentionScope="mentionScope"
  let-mode="mode"
  let-isMultipleFileUploadEnabled="isMultipleFileUploadEnabled"
  let-messageUpdateHandler="messageUpdateHandler"
  let-sendMessage$="sendMessage$"
>
  <stream-message-input
    style="--grey-whisper: rgba(165, 214, 167, 0.4); --primary-color: #8bc34a"
    [message]="message"
    [isFileUploadEnabled]="isFileUploadEnabled"
    [areMentionsEnabled]="areMentionsEnabled"
    [mentionScope]="mentionScope"
    [mode]="mode"
    [isMultipleFileUploadEnabled]="isMultipleFileUploadEnabled"
    (messageUpdate)="messageUpdateHandler ? messageUpdateHandler() : null"
    [sendMessage$]="sendMessage$"
  ></stream-message-input>
</ng-template>

<ng-template #mentionTemplate let-user="user">
  <span style="color: #7cb342; font-weight: bold">{{
    user?.id || user?.name
  }}</span>
</ng-template>

<ng-template #typingIndicator let-usersTyping$="usersTyping$">
  <div
    style="color: #7cb342"
    *ngIf="$any(usersTyping$ | async)?.length"
    class="str-chat__typing-indicator str-chat__typing-indicator--typing"
  >
    Currently typing...&nbsp;
    <!--eslint-disable-next-line @angular-eslint/template/use-track-by-function-->
    <span *ngFor="let user of usersTyping$ | async">{{
      user.name || user.id
    }}</span>
  </div>
</ng-template>

<ng-template #mentionAutocompleteItemTemplate let-item="item">
  <div style="color: #7cb342">
    {{ item.autocompleteLabel }} - {{ item.role }}
  </div>
</ng-template>

<ng-template #commandAutocompleteItemTemplate let-item="item">
  <div style="color: #7cb342">
    {{ item.autocompleteLabel | uppercase }} ({{ item.description }})
  </div>
</ng-template>

<ng-template #channelActionsTemplate let-channel="channel">
  <button
    (click)="inviteClicked(channel)"
    style="
      background-color: #388e3c;
      color: white;
      border-radius: var(--border-radius-md);
      border: none;
      padding: 10px;
      cursor: pointer;
    "
  >
    Invite
  </button>
</ng-template>

<ng-template
  #attachmentListTemplate
  let-messageId="messageId"
  let-attachments="attachments"
>
  <span
    style="
      color: #7cb342;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 0);
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.6);
    "
    >Custom attachments</span
  >
  <stream-attachment-list
    [messageId]="messageId"
    [attachments]="attachments"
  ></stream-attachment-list>
</ng-template>

<ng-template
  #attachmentPreviewListTemplate
  let-attachmentUploads$="attachmentUploads$"
  let-retryUploadHandler="retryUploadHandler"
  let-deleteUploadHandler="deleteUploadHandler"
>
  <stream-attachment-preview-list
    style="
      border-radius: var(--border-radius-md);
      background-color: rgba(241, 248, 233, 0.4);
    "
    [attachmentUploads$]="attachmentUploads$"
    (retryAttachmentUpload)="retryUploadHandler($event)"
    (deleteAttachment)="deleteUploadHandler($event)"
    class="rfu-image-previewer-angular-host"
  ></stream-attachment-preview-list>
</ng-template>

<ng-template
  #avatarTemplate
  let-name="name"
  let-imageUrl="imageUrl"
  let-size="size"
>
  <stream-avatar
    style="--primary-color: #8bc34a"
    [name]="name"
    [imageUrl]="imageUrl"
    [size]="size"
  ></stream-avatar>
</ng-template>

<ng-template #iconTemplate let-icon="icon" let-size="size">
  <app-icon [icon]="icon" [size]="size"></app-icon>
</ng-template>

<ng-template #loadingIndicatorTemplate let-size="size" let-color="color">
  <stream-loading-indicator
    [size]="size"
    color="#F1F8E9"
  ></stream-loading-indicator>
</ng-template>

<ng-template
  #messageActionsBoxTemplate
  let-isOpen="isOpen"
  let-isMine="isMine"
  let-enabledActions="enabledActions"
  let-messageInput="message"
  let-displayedActionsCountChaneHanler="displayedActionsCountChaneHanler"
  let-isEditingChangeHandler="isEditingChangeHandler"
>
  <stream-message-actions-box
    style="--primary-color: #33691e"
    [isOpen]="isOpen"
    [isMine]="isMine"
    [enabledActions]="enabledActions"
    [message]="messageInput"
    (displayedActionsCount)="displayedActionsCountChaneHanler($event)"
    (isEditing)="isEditingChangeHandler($event)"
  ></stream-message-actions-box
></ng-template>

<ng-template
  #messageActionItemTemplate
  let-actionName="actionName"
  let-actionHandler="actionHandler"
  let-actionLabelOrTranslationKey="actionLabelOrTranslationKey"
>
  <app-message-action
    [actionName]="actionName"
    [actionHandler]="actionHandler"
    [actionLabelOrTranslationKey]="actionLabelOrTranslationKey"
  ></app-message-action>
</ng-template>

<ng-template
  #messageReactonsTemplate
  let-messageReactionCounts="messageReactionCounts"
  let-latestReactions="latestReactions"
  let-isSelectorOpen="isSelectorOpen"
  let-isSelectorOpenChangeHandler="isSelectorOpenChangeHandler"
  let-messageId="messageId"
  let-ownReactions="ownReactions"
>
  <stream-message-reactions
    style="--black: rgba(51, 105, 30, 0.8)"
    [messageReactionCounts]="messageReactionCounts"
    [latestReactions]="latestReactions"
    [isSelectorOpen]="isSelectorOpen"
    (isSelectorOpenChange)="isSelectorOpenChangeHandler($event)"
    [messageId]="messageId"
    [ownReactions]="ownReactions"
  ></stream-message-reactions>
</ng-template>

<ng-template
  #modalTemplate
  let-isOpen="isOpen"
  let-isOpenChangeHandler="isOpenChangeHandler"
  let-content="content"
>
  <stream-modal
    style="--white: #f1f8e9"
    [isOpen]="isOpen"
    (isOpenChange)="isOpenChangeHandler($event)"
    [content]="content"
  >
  </stream-modal>
</ng-template>

<ng-template #notificationTemplate let-type="type" let-content="content">
  <div
    class="str-chat__custom-notification"
    style="background-color: #f1f8e9; color: #2e7d32"
  >
    {{ type | uppercase }}
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-template>

<ng-template
  #threadHeaderTemplate
  let-parentMessage="parentMessage"
  let-closeThreadHandler="closeThreadHandler"
>
  <app-thread-header
    [parentMessage]="parentMessage"
    (closeThread)="closeThreadHandler()"
  ></app-thread-header>
</ng-template>
