<div id="root">
  <stream-channel-list>
    <input channel-list-top placeholder="Search" />
    <button channel-list-bottom>Add new channel</button>
  </stream-channel-list>
  <stream-channel>
    <stream-channel-header></stream-channel-header>
    <stream-message-list></stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input></stream-message-input>
    <stream-thread name="thread">
      <stream-message-list mode="thread"></stream-message-list>
      <stream-message-input mode="thread"></stream-message-input>
    </stream-thread>
  </stream-channel>
</div>

<ng-template #emojiPickerTemplate let-emojiInput$="emojiInput$">
  <app-emoji-picker [emojiInput$]="emojiInput$"></app-emoji-picker>
</ng-template>

<ng-template #channelPreviewTemplate let-channel="channel">
  <div
    (click)="channelService.setAsActiveChannel(channel)"
    (keyup.enter)="channelService.setAsActiveChannel(channel)"
  >
    {{ channel?.data?.name || channel?.data?.id }}
  </div>
</ng-template>

<ng-template
  #messageTemplate
  let-message="message"
  let-isLastSentMessage="isLastSentMessage"
  let-enabledMessageActions="enabledMessageActions"
  let-mode="mode"
  let-customActions="customActions"
  let-isHighlighted="isHighlighted"
>
  <div>
    <stream-message
      [message]="message"
      [isLastSentMessage]="isLastSentMessage"
      [enabledMessageActions]="enabledMessageActions"
      [mode]="mode"
      [customActions]="customActions"
      [isHighlighted]="isHighlighted"
    ></stream-message>
  </div>
</ng-template>

<ng-template
  #customMessageInputTemplate
  let-message="message"
  let-isFileUploadEnabled="isFileUploadEnabled"
  let-areMentionsEnabled="areMentionsEnabled"
  let-mentionScope="mentionScope"
  let-mode="mode"
  let-isMultipleFileUploadEnabled="isMultipleFileUploadEnabled"
  let-messageUpdateHandler="messageUpdateHandler"
  let-sendMessage$="sendMessage$"
>
  <stream-message-input
    [message]="message"
    [isFileUploadEnabled]="isFileUploadEnabled"
    [areMentionsEnabled]="areMentionsEnabled"
    [mentionScope]="mentionScope"
    [mode]="mode"
    [isMultipleFileUploadEnabled]="isMultipleFileUploadEnabled"
    (messageUpdate)="messageUpdateHandler ? messageUpdateHandler() : null"
    [sendMessage$]="sendMessage$"
  ></stream-message-input>
</ng-template>

<ng-template #mentionTemplate let-user="user">
  <span>{{ user?.id || user?.name }}</span>
</ng-template>

<ng-template #typingIndicator let-usersTyping$="usersTyping$">
  <div
    *ngIf="$any(usersTyping$ | async)?.length"
    class="str-chat__typing-indicator str-chat__typing-indicator--typing"
  >
    Currently typing...&nbsp;
    <!--eslint-disable-next-line @angular-eslint/template/use-track-by-function-->
    <span *ngFor="let user of usersTyping$ | async">{{
      user.name || user.id
    }}</span>
  </div>
</ng-template>

<ng-template #mentionAutocompleteItemTemplate let-item="item">
  <div>{{ item.autocompleteLabel }} - {{ item.role }}</div>
</ng-template>

<ng-template #commandAutocompleteItemTemplate let-item="item">
  <div>{{ item.autocompleteLabel | uppercase }} ({{ item.description }})</div>
</ng-template>

<ng-template #channelActionsTemplate let-channel="channel">
  <button (click)="inviteClicked(channel)">Invite</button>
</ng-template>

<ng-template
  #attachmentListTemplate
  let-messageId="messageId"
  let-parentMessageId="parentMessageId"
  let-attachments="attachments"
  let-imageModalStateChangeHandler="imageModalStateChangeHandler"
>
  <stream-attachment-list
    [messageId]="messageId"
    [attachments]="attachments"
    [parentMessageId]="parentMessageId"
    (imageModalStateChange)="imageModalStateChangeHandler($event)"
  ></stream-attachment-list>
</ng-template>

<ng-template
  #attachmentPreviewListTemplate
  let-attachmentUploads$="attachmentUploads$"
  let-retryUploadHandler="retryUploadHandler"
  let-deleteUploadHandler="deleteUploadHandler"
>
  <stream-attachment-preview-list
    [attachmentUploads$]="attachmentUploads$"
    (retryAttachmentUpload)="retryUploadHandler($event)"
    (deleteAttachment)="deleteUploadHandler($event)"
    class="rfu-image-previewer-angular-host"
  ></stream-attachment-preview-list>
</ng-template>

<ng-template
  #avatarTemplate
  let-name="name"
  let-imageUrl="imageUrl"
  let-size="size"
  let-type="type"
  let-location="location"
  let-user="user"
  let-channel="channel"
  let-initialsType="initialsType"
  let-showOnlineIndicator="showOnlineIndicator"
>
  <stream-avatar
    [name]="name"
    [imageUrl]="imageUrl"
    [size]="size"
    [type]="type"
    [location]="location"
    [user]="user"
    [channel]="channel"
    [initialsType]="initialsType"
    [showOnlineIndicator]="showOnlineIndicator"
  ></stream-avatar>
</ng-template>

<ng-template #iconTemplate let-icon="icon" let-size="size">
  <app-icon [icon]="icon" [size]="size"></app-icon>
</ng-template>

<ng-template #loadingIndicatorTemplate let-size="size" let-color="color">
  <stream-loading-indicator
    [size]="size"
    color="#F1F8E9"
  ></stream-loading-indicator>
</ng-template>

<ng-template
  #messageActionsBoxTemplate
  let-isMine="isMine"
  let-enabledActions="enabledActions"
  let-messageInput="message"
  let-customActions="customActions"
>
  <stream-message-actions-box
    [isMine]="isMine"
    [enabledActions]="enabledActions"
    [message]="messageInput"
    [customActions]="customActions"
  ></stream-message-actions-box>
</ng-template>

<ng-template
  #messageActionItemTemplate
  let-actionName="actionName"
  let-actionHandler="actionHandler"
  let-message="message"
  let-isMine="isMine"
  let-actionLabelOrTranslationKey="actionLabelOrTranslationKey"
>
  <app-message-action
    [actionName]="actionName"
    [actionHandler]="actionHandler"
    [message]="message"
    [isMine]="isMine"
    [actionLabelOrTranslationKey]="actionLabelOrTranslationKey"
  ></app-message-action>
</ng-template>

<ng-template
  #messageReactionsTemplate
  let-messageReactionCounts="messageReactionCounts"
  let-latestReactions="latestReactions"
  let-isSelectorOpen="isSelectorOpen"
  let-isSelectorOpenChangeHandler="isSelectorOpenChangeHandler"
  let-messageId="messageId"
  let-ownReactions="ownReactions"
>
  <stream-message-reactions
    [messageReactionCounts]="messageReactionCounts"
    [latestReactions]="latestReactions"
    [isSelectorOpen]="isSelectorOpen"
    (isSelectorOpenChange)="isSelectorOpenChangeHandler($event)"
    [messageId]="messageId"
    [ownReactions]="ownReactions"
  ></stream-message-reactions>
</ng-template>

<ng-template
  #modalTemplate
  let-isOpen="isOpen"
  let-isOpenChangeHandler="isOpenChangeHandler"
  let-content="content"
>
  <stream-modal
    [isOpen]="isOpen"
    (isOpenChange)="isOpenChangeHandler($event)"
    [content]="content"
  >
  </stream-modal>
</ng-template>

<ng-template #notificationTemplate let-type="type" let-content="content">
  <div class="str-chat__custom-notification">
    {{ type | uppercase }}
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-template>

<ng-template
  #threadHeaderTemplate
  let-parentMessage="parentMessage"
  let-closeThreadHandler="closeThreadHandler"
>
  <app-thread-header
    [parentMessage]="parentMessage"
    (closeThread)="closeThreadHandler()"
  ></app-thread-header>
</ng-template>

<ng-template #customChannelInfo let-channel="channel">
  This channel has {{ channel?.data?.member_count }} members
</ng-template>

<!-- Message inputs use separate AttachmentService instances and component-tree based DI lookup doesn't work with content injection so we need to provide the AttachmentService as an input -->
<ng-template
  #customAttachmentUpload
  let-isMultipleFileUploadEnabled="isMultipleFileUploadEnabled"
  let-attachmentService="attachmentService"
>
  <input
    #fileInput
    type="file"
    [multiple]="isMultipleFileUploadEnabled"
    (change)="filesSelected(fileInput.files, attachmentService)"
  />
  <button (click)="addRandomImage(attachmentService)">Random image</button>
</ng-template>

<ng-template #dateSeparator let-date="date" let-parsedDate="parsedDate">
  {{ date }} - {{ parsedDate }}
</ng-template>

<ng-template #emptyMainMessageList>
  <div class="empty-list"><div>No messages yet</div></div>
</ng-template>

<ng-template #emptyThreadMessageList>
  <div class="empty-list"><div>No thread replies yet</div></div>
</ng-template>
