@if (isQuoted) {
  <stream-message-text
    [message]="message"
    [shouldTranslate]="shouldTranslate"
    [isQuoted]="isQuoted"
  />
} @else {
  <div class="message-text" [class.message-text-expanded]="isExpanded" #text>
    <stream-message-text
      [message]="message"
      [shouldTranslate]="shouldTranslate"
      [isQuoted]="isQuoted"
    />
  </div>
  <!-- 5px diff is due to Firefox issue -->
  <button
    [class.visible]="text.scrollHeight - text.clientHeight > 5 || isExpanded"
    (click)="isExpanded = !isExpanded"
  >
    {{ "Show" + (isExpanded ? " less" : " more") }}
  </button>
}
