<ng-container *ngIf="isQuoted; else regularMessageText">
  <!-- Quoted message are clamped by default, so need there -->
  <stream-message-text
    [message]="message"
    [shouldTranslate]="shouldTranslate"
    [isQuoted]="isQuoted"
  />
</ng-container>
<ng-template #regularMessageText>
  <div class="message-text" [class.message-text-expanded]="isExpanded" #text>
    <stream-message-text
      [message]="message"
      [shouldTranslate]="shouldTranslate"
      [isQuoted]="isQuoted"
    />
  </div>
  <!-- 5px diff is due to Firefox issue -->
  <button
    [class.visible]="text.scrollHeight - text.clientHeight > 5 || isExpanded"
    (click)="isExpanded = !isExpanded"
  >
    {{ "Show" + (isExpanded ? " less" : " more") }}
  </button>
</ng-template>
