.message-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.message-text.message-text-expanded {
  display: block;
}

button {
  display: none;

  &.visible {
    display: block;
  }
}
