<div class="str-chat__thread-header">
  <div class="str-chat__thread-header-details">
    <strong translate>streamChat.Thread</strong>
    <small data-testid="reply-count">
      {{parentMessage?.reply_count === 1 ? ('streamChat.1 reply' | translate) : ('streamChat.{{ replyCount }}
      replies' | translate:getReplyCountParam(parentMessage))}}
    </small>
  </div>
  <button
    class="str-chat__square-button"
    data-testid="close-button"
    (click)="closeThread.next()"
  >
    <stream-icon-placeholder icon="close-no-outline"></stream-icon-placeholder>
  </button>
</div>
