.emoji-picker-container {
  position: relative;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;

      path {
        fill: var(--str-chat__message-input-tools-color);
      }
    }
  }

  .picker {
    z-index: 3;
    position: absolute;
    bottom: 100%;
    transform: scale(0.8);
    right: 0;
    transform-origin: bottom right;
  }

  @media only screen and (min-device-width: 1024px) {
    .picker {
      transform: scale(1);
    }
  }
}
