@import "../../variables";

.emoji-picker-container {
  position: relative;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    @if $stream-chat-theme-version == "2" {
      width: 24px;
      height: 24px;
    } @else {
      width: 20px;
      height: 20px;
    }

    svg {
      @if $stream-chat-theme-version == "2" {
        width: 24px;
        height: 24px;
      } @else {
        width: 20px;
        height: 20px;
      }

      path {
        fill: var(--str-chat__message-input-tools-color);
      }
    }
  }

  @if $stream-chat-theme-version == "2" {
    .emoji-picker-container {
      width: 24px;
      height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  } @else {
    .emoji-picker-container {
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .picker {
    z-index: 3;
    position: absolute;
    bottom: 100%;
    transform: scale(0.8);
    @if $stream-chat-theme-version == "2" {
      right: 0;
      transform-origin: bottom right;
    } @else {
      left: 0;
      transform-origin: bottom left;
    }
  }

  @media only screen and (min-device-width: 1024px) {
    .picker {
      transform: scale(1);
    }
  }
}
